@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.henny-penny-regular {
  font-family: 'Henny Penny', system-ui;
  font-weight: 400;
  font-style: normal;
}
  html,
  body {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; 
  }

@theme {
  --font-mono:
    ui-monospace,
    SFMono-Regular,
    "SF Mono",
    Menlo,
    Consolas,
    "Liberation Mono",
    monospace;

  /* Darker Tokyo Night */
  --color-bg: #080a12;
  --color-fg: #c0caf5;

  --color-card: #11131f;
  --color-card-hover: #171a2a;
  --color-border: #252a3f;

  --color-muted: #8b93bd;
  --color-subtle: #4f587d;

  --color-primary: #7aa2f7;
  --color-primary-hover: #9dbdff;
  --color-primary-fg: #080a12;

  --color-purple: #bb9af7;
  --color-cyan: #7dcfff;
  --color-green: #9ece6a;
  --color-yellow: #e0af68;
  --color-orange: #ff9e64;
  --color-red: #f7768e;
  --color-blue: #7aa2f7;

  --color-link: #7dcfff;
  --color-link-hover: #a6e3ff;

  --color-success: #9ece6a;
  --color-warning: #e0af68;
  --color-danger: #f7768e;
}

html,
body {
  min-height: 100%;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}
